// $accent: #EA7022;
// $black: #262A2D;
// $bg: #F2F2F2;

// %checkbox-hidden {
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   position: absolute;
// }

%sfuitext {
  font-family: 'SFUIText-Regular',
    sans-serif;
  font-weight: 400;
}
%sfuitext-700 {
  font-family: 'SFUIText-Bold',
    sans-serif;
  font-weight: 700;
}
%proxima-nova {
  font-family: 'ProximaNova-Regular',
    sans-serif;
  font-weight: 400;
}
%helvetica-400 {
  font-family: 'HelveticaNeueCyr-Roman',
    sans-serif;
  font-weight: 400;
}
%helvetica-700 {
  font-family: 'HelveticaNeueCyr-Bold',
    sans-serif;
  font-weight: 700;
}





%roomers-button {
  width: 166px;
  height: 166px;
  border: 1px solid #000;
  border-radius: 50%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 21px;
  color: #000;
}